@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-color: rgb(241 245 249 / 1);
}

@layer components {
	.field {
		@apply flex flex-col justify-start items-start mb-1;
		background-color: var(--bg-color);
	}
	.field label {
		@apply text-gray-700 text-sm px-1 inline-table translate-x-3 translate-y-3;
		background-color: var(--bg-color);
	}
	.field input, select {
		@apply outline-0 border-2 p-2 pt-4 rounded border-rose-500 w-full;
		background-color: var(--bg-color);
	}
	.btn {
		/* @apply py-2 px-4 bg-rose-500 text-white -tracking-tighter rounded hover:bg-rose-400 transition duration-150 ease-in-out; */
		@apply p-2 font-medium text-gray-900 cursor-pointer transition duration-300 ease-in-out border-2 border-gray-600 rounded hover:bg-rose-500 hover:text-white hover:border-rose-500
	}
}

html {
	background-color: var(--bg-color);
}

#ojo_derecho {
	transform: translate(2px, -1px);
	/* animation: ojo_anim 3s alternate 18s  infinite ease-in-out; */
	animation-name: ojo_anim;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-delay: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes ojo_anim {
	from {
		transform: translate(0, 0);
	}
	100% {
		/*transform: unset; */
		transform: translate(2px, -1px);
	}
	
}

.ava-sheep {
	background-image: url(./../public/ava-sheep.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.w-body {
	position: relative;
	min-height: 400px;
	padding: 1em 2em;
}

.w-body-img {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: url(./../public/bg-WhatsApp.jpg);
	background-repeat: repeat;
	opacity: 0.1;
}

.w-body-msgs {
	padding: 1em;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	overflow-y: scroll;
}

/* Scoll Bar de Dolly */

.dolly-scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.dolly-scroll::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;
}

.dolly-scroll::-webkit-scrollbar-thumb
{
  background-color: #d9d9d9;
}

.per-menu:hover .per-menu-links {
	display: block;
}